<!-- templates/post.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post['title'] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="post-container">
        <h1 class="post-title">{{ post['title'] }}</h1>
        <p class="post-content">{{ post['content']|safe }}</p>
        <p class="post-info">Postado por {{ post['author'] }} em {{ post['timestamp'].strftime('%Y-%m-%d %H:%M:%S') }}</p>
        <div class="back-to-list-link">
            <a href="{{ url_for('index') }}">Voltar para a lista de posts</a>
        </div>
    </div>
</body>
</html>
